.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    /* box-sizing: border-box;는 padding 값이있어도 그 padding 값만큼 box의 사이즈를 늘리지 않도록 설정
    기본적으로는 padding값 만큼 box사이즈가 커지도록 CSS는 인식 */
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__dot {
    position: absolute;
    left: 30px;
}