.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    /* padding-top: 40px; */
  }
  
  .screen-header__title {
    font-size: 32px;
    font-weight: 600;
  }
  
  .screen-header__icons span {
    position: relative;
    margin-left: 25px;
  }

  .dot_position {
    position: absolute;
    left: 70px;
    bottom: 25px;
  }